@import 'tailwindcss';

@utility input {
  
  & {
    @apply appearance-none bg-transparent border border-gray-300 dark:border-stone-600  rounded-lg px-2 py-1 text-gray-700 dark:text-gray-200;
  }

  &:is(select) {
    @apply pe-6;
  }

  &[type='number'] {
    appearance: textfield;
  }
  &[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}


@utility grid-overlap {
  & {
    grid-template: 'full' auto / auto
  }

  & > * {
    grid-area: full;
  }
}

@layer theme {
  @property --s {
    syntax: '*';
    inherits: false;
  }

}

@layer base {
  ::view-transition-image-pair(root) {
    isolation: auto;
  }

  ::view-transition-old(root),
  ::view-transition-new(root) {
    animation: none;
    mix-blend-mode: normal;
    display: block;
  }

  ::view-transition-new(root) {
    clip-path: polygon(100% 0, 100% 0, 100% 0);
  }
  main {
    view-transition-name: demo;
  }
}
