@import 'tailwindcss';

@utility input {
  & {
    @apply appearance-none rounded-lg border border-gray-300 bg-transparent px-2 py-1 text-gray-700 dark:border-stone-600 dark:text-gray-200;
  }

  &:is(select) {
    @apply pe-6;
  }

  &[type='number'] {
    appearance: textfield;
  }
  &[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}

@utility grid-overlap {
  & {
    grid-template: 'full' auto / auto;
  }

  & > * {
    grid-area: full;
  }
}

@utility view-transition-* {
  view-transition-name: --value([*], 'none');
}

@layer theme {
  @property --s {
    syntax: '*';
    inherits: false;
  }
}

@layer base {
  :root {
    view-transition-name: none;
  }

  ::view-transition {
    pointer-events: none;
  }

  ::view-transition-image-pair(root) {
    isolation: auto;
  }

  ::view-transition-old(root),
  ::view-transition-new(root) {
    animation: none;
    mix-blend-mode: normal;
    display: block;
  }
}
