@import 'tailwindcss';

@utility input {
  & {
    @apply appearance-none rounded-lg border border-gray-300 bg-white px-2 py-1 text-gray-700;
  }

  &:is(select) {
    @apply pe-6;
  }

  &[type='number'] {
    appearance: textfield;
  }
  &[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}

@utility grid-overlap {
  & {
    grid-template: 'full' auto / auto;
  }

  & > * {
    grid-area: full;
  }
}

@utility view-transition-* {
  view-transition-name: --value([*], 'none');
}

@keyframes bg-circle {
  0% {
    clip-path: circle(0 at 80% 20%);
  }
  100% {
    clip-path: circle(200vmax at 80% 20%);
  }
}

@keyframes bg-from-topright {
  0% {
    clip-path: polygon(100% 0, 100% 0, 100% 0);
  }
  100% {
    clip-path: polygon(100% 0, -57.735% 0, 100% 273.205%);
  }
}

@keyframes bg-from-top {
  0% {
    clip-path: inset(0 0 100% 0);
  }
  100% {
    clip-path: inset(0 0 0 0);
  }
}

@keyframes bg-from-center {
  0% {
    clip-path: inset(50% 0 50% 0);
  }
  100% {
    clip-path: inset(0 0 0 0);
  }
}

@keyframes anim-in {
  from {
    transform: translateX(calc(var(--spacing) * 2));
    opacity: 0;
  }
}

@keyframes anim-out {
  to {
    transform: translateX(calc(var(--spacing) * -2));
    opacity: 0;
  }
}

@layer theme {
  @property --s {
    syntax: '*';
    inherits: false;
  }
}

@layer base {
  ::view-transition {
    pointer-events: none;
  }

  ::view-transition-image-pair(root) {
    isolation: auto;
  }

  ::view-transition-old(root),
  ::view-transition-new(root) {
    animation: none;
    mix-blend-mode: normal;
    display: block;
  }

  ::view-transition-new(root) {
    animation: 600ms cubic-bezier(0.85, 0.09, 0.15, 0.91) 150ms both
      var(--bg-animation, bg-circle);
  }

  ::view-transition-group(label) {
    animation: none;
  }

  ::view-transition-old(label),
  ::view-transition-new(label) {
    animation-duration: 600ms;
    animation-timing-function: cubic-bezier(0.66, 0, 0.34, 1);
    animation-fill-mode: both;
    inline-size: fit-content;
    inset-block-start: auto;
    inset-block-end: 0;
    inset-inline-end: 0;
  }

  ::view-transition-new(label) {
    animation-name: anim-in;
    animation-delay: 1s;
  }

  ::view-transition-old(label) {
    animation-name: anim-out;
  }
}
